# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Data (too large for git)
# data/*.txt
# data/*.csv
# data/*.h5
!data/README.md
data/Damage Propagation Modeling.pdf
data/eda_correlation.png
data/eda_lifecycle.png
data/model_comparison_pr.png
data/readme.txt

# Saved models (too large for git)
# models/*.pkl
# models/*.pt
# models/*.pth

# Jupyter
.ipynb_checkpoints/
*.ipynb_meta

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db